
.A4{
    position:absolute;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px solid #19191A;
}

.resume-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    background-color: rgb(223, 223, 223);
    
}

.resume-header li{
    list-style: none;
    font-size: 18px;
    color: #19191A;
}

.resume-header li a:visited{
    color: #19191A;
}

.resume-header li a{
    color: #19191A;
}

.my-name{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2{
    margin: 5px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 24px;
    margin: 1%;
    font-weight: bold;
}

.job-title{
    font-size: 18px;
    margin-top: 2%;
    font-weight: bold;

}

.experience{
    margin-top: 1%;
    margin-left: 3%;
}

.proficiency .experience{
    margin-bottom: 15px;
}

.experiences ul li{
    list-style: none;
    font-size: 20px;
    text-align: left;
}

.experiences p{
    text-align: left;
    margin: 4px;
}


.certificates{
    display: flex;
    align-items: center;
    margin: 2%;
    background-color: rgb(223, 223, 223);
}

.proficiencies{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.proficiency{
    width: 20%;
}

.education{
    flex-direction: column;
}

p{font-size: 20px;}

.resume-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 1020px) {
    .proficiencies{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .proficiency{
        width: 100%;
    }

    .experience p{
        text-align: center;
    }
}