/*<Global Styles*/
* {
    margin: 2px;

}

main {
    display: flex;
    justify-content: center
}

.A4 {
    margin-top: 4rem;
    width: 680px;
    min-width: 300px;
    border: 4px solid #19191A;
}

/*</Global Styles*/
/*<Personal info Styles>*/
.resume-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #DFDFDF;
    margin: 1.5rem;
    padding: 1rem;
}

@media screen and (max-width: 550px) {

    .resume-header,
    .personal-info ul li,
    .personal-info a {
        font-size: 14px;
    }
}

.resume-header ul {
    padding-left: 0;
}

.resume-header h1,
h2 {
    text-align: center;
}

.resume-header li,
a {
    list-style: none;
    color: #19191A;
    font-size: 18px;
}

.my-name {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/*</Personal info Styles>*/
/*<Work Experience Styles>*/
.main-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 1rem;
}

.jobs {
    margin-left: 0rem;
}

.job {
    padding-bottom: 2px;
}

.job ul li {
    list-style: none;
}

ul {
    padding-left: 35px;
}

/*</Work Experience Styles>*/
/*<Proficiencies Styles>*/
.proficiencies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

@media screen and (max-width: 550px) {
    .proficiencies {
        justify-content: left;
    }

    .resume-header {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 415px) {
    .proficiencies {
        justify-content: center;
        text-align: center;
    }
}

/*<Proficiencies Styles/>*/