/* Desktop */
@media screen and (max-width: 2560px) {
    .flex-container{
        margin-bottom: 10%;
    }
    .tipito-laburando{
        margin-bottom: 14.6%;
    }
}

@media screen and (max-width: 1920px) {
    .flex-container{
        margin-bottom: 10%;
    }
    .tipito-laburando{
        margin-bottom: 11.5%;
    }
}

@media screen and (max-width: 1366px) {
    .flex-container{
        margin-bottom: 4%;
    }
    .tipito-laburando{
        margin-bottom: 3%;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .flex-container{
        margin-bottom: 30%;
    }
    .tipito-laburando{
        margin-bottom: 40%;
    }
}
