*{
    background-color: EAE6E6;
    color: #19191A;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 5px 2%;
    border-bottom: 3px solid #19191A;
}

h1{
    text-align: center;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.4s
}

.logo{
    width: 30%;
}

nav{
    width: 30%;
    display: flex;
    justify-content: end;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.9s;
}

.header .nav-links a{
    font-size: 24;
    text-decoration: none;
}

.header .nav-links li:hover{
    transition: all 0.9s;
    transform: scale(1.2);
}

.header .logo img:hover{
    transform: scale(1.05);
}

.main{
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer{
    height: 15%;
    display: flex;
    padding: 10px 2%;
    flex-flow: column;
    align-self: center;
    border-top: 3px solid #19191A;
}




