/* Desktop */
@media screen and (max-width: 2560px) {
    .flex-container{
        margin-bottom: 10%;
    }
    .tipito-laburando{
        margin-bottom: 14.6%;
    }
}

@media screen and (max-width: 1920px) {
    .flex-container{
        margin-bottom: 10%;
    }
    .tipito-laburando{
        margin-bottom: 11.5%;
    }
}

