.flex-container{
    display: flex;
    flex-flow: row-reverse;
    padding: 5px;
    border-bottom: 3px solid black;
    justify-content:center;
}

.tipito-laburando{
    display: flex;
    flex-flow: column;
    text-align: center;
}


footer{
    display: flex;
    flex-flow: column;
    padding-left: 1%;
    border-top: 3px solid black;
}

.my-name{
    padding-left: 10%;
    padding-right: 10%;
}


.logo{
    left: 0%;
    position:absolute;
    align-self:center;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    transition: all 1s;
}

.logo:hover{
 transform: scale(1.15);
 transition: all 1s;
}


